<meta http-equiv='cache-control' content='no-cache'>
<meta http-equiv='expires' content='0'>
<meta http-equiv='pragma' content='no-cache'>
<div class="w-full max-w-lg hidden" id="cuotealo">
  <div class="md:items-center" id="button">
    <div class="md:w-1/3"></div>
    <div class="flex items-center justify-center w-full">
      <button onClick="desactivaBoton(this)" data-text-button="Generando Link..." class="px-4 py-2 font-bold text-white bg-purple-500 rounded shadow hover:bg-purple-400 focus:shadow-outline focus:outline-none" type="button" data-button-method="cuotealo">
        Generar Link Cuotéalo
      </button>
    </div>
  </div>
  <div class="grid grid-cols-1 gap-4 place-content-around border-2 hidden" id="result">
    <div class="flex flex-col grid-rows-2 place-content-center place-items-center">
      <p class="block">Link Cuotéalo</p>
      <a class="text-blue-600 underline text-center decoration-sky-500/30" href="" id="link-cuotealo" target="_blank"></a>
    </div>

  </div>
</div>